body {
   font-size: 16px;
   line-height: 1;
   overflow-x: hidden;
   position: relative;
   font-family: var(--monts);
   font-weight: 400;
   color: var(--colorWhite);
   background-color: var(--colorBg);

   &.menu-open {
      overflow-y: hidden;
   }
}

.container {
   max-width: 1220px;
   padding: 0 10px;
   margin: 0 auto;

   @media (max-width: 1199.98px) {
      max-width: 100%;
      width: 100%;
      padding: 0 50px
   }

   @media (max-width: 999.98px) {
      padding: 0 30px
   }

   @media (max-width: 999.98px) {
      padding: 0 10px
   }
}