body {
   font-size: 18px;
   line-height: 1;
   overflow-x: hidden;
   position: relative;
   font-family: var(--raleway);
   font-weight: 500;
   color: var(--colorPrimary);

   &.menu-open {
      overflow-y: hidden;
   }
}

.container {
   max-width: 1460px;
   padding: 0 10px;
   margin: 0 auto;

   @media screen and (min-width: 768px) and (max-width: 1366px) {
      padding: 0 20px;
   }
}

._btn {
   border-radius: 12px;
   background-color: var(--colorAccentPrimary);
   display: inline-flex;
   justify-content: center;
   align-items: center;
}