:root {
   //Colors
   --colorBg: #060709;
   --colorWhite: #FFFFFF;
   --colorAccent: #04A4FE;
   --colorTextDark: #212121;
   --colorButtonBg: #393939;

   //Fonts
   --monts: 'Montserrat', sans-serif;
   ;

}