:root {
   //Colors
   --colorPrimary: #372E11;
   --colorSecond: #FFFBED;
   --colorAccentPrimary: #FFE182;
   --colorAccentSecond: #EDEDED;

   //Fonts
   --inter: 'Inter', sans-serif;
   --marmelad: 'Marmelad', sans-serif;
   --raleway: 'Raleway', sans-serif;
   --roboto: 'Roboto', sans-serif;
   --ptSans: 'PT Sans', sans-serif;

}