.parallax {
   margin-top: 140px;

   @media (max-width: 639.98px) {
      margin-top: 100px;
   }

   &__wrapper {
      display: flex;
      gap: 28px;

      @media (max-width: 639.98px) {
         gap: 7px;
      }
   }

   &__col {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media (max-width: 639.98px) {
         gap: 10px;
      }

      &._left {
         padding-bottom: 254px;

         @media (max-width: 639.98px) {
            padding-bottom: 63px;
         }
      }

      &._right {
         padding-top: 254px;

         @media (max-width: 639.98px) {
            padding-top: 63px;
         }
      }
   }

   &__text {
      margin: 0 auto;
      margin-top: 140px;
      max-width: 641px;
      text-align: center;
      font-size: 20px;
      line-height: 135%;

      transform: translate(0px, 100px);
      opacity: 0;
      transition: all .8s ease-in;

      &._active {
         transform: translate(0px, 0px);
         opacity: 1;
      }

      @media (max-width: 639.98px) {
         margin-top: 100px;
         font-size: 16px;
      }
   }
}