.trigger {
   margin-top: 140px;
   padding-top: 100px;
   position: relative;
   width: 100%;
   margin: 0 auto;
   height: 100vh;

   canvas {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__descr {
      position: absolute;
      top: 340px;
      left: 200px;
      width: 400px;
      opacity: 0;
      transition: all .3s ease-in;
   }

   &__text {
      margin-top: 20px;
      line-height: 135%;
   }
}