.vr {
   margin-top: 140px;

   @media (max-width: 639.98px) {
      margin-top: 100px;
   }



   &__wrapper {
      position: relative;
      width: 100%;
      height: 570px;
      overflow: hidden;
      background-color: #12181B;
      border-radius: 10px;

      @media (max-width: 639.98px) {
         height: 543px;
      }
   }

   &__descr {
      margin-left: 72px;
      width: 297px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media (max-width: 639.98px) {
         top: 53px;
         transform: translateY(0);
         margin-left: 0;

      }

      &-wrapper {
         @media (max-width: 639.98px) {
            display: flex;
            align-items: center;
            gap: 30px;
         }

      }

      img {
         width: 58px;
         height: 67px;

         @media (max-width: 639.98px) {
            width: 43px;
            height: 50px;
         }
      }
   }

   &__title {
      margin-top: 20px;

      transform: translate(0, 100px);
      opacity: 0;
      transition: all 0.8s ease-in;

      &._active {
         transform: translate(0, 0);
         opacity: 1;
      }

      @media (max-width: 639.98px) {
         margin-top: 0;
         max-width: 206px;
         font-size: 22px;
      }
   }

   &__suptitle {
      margin-top: 20px;

      transform: translate(0, 100px);
      opacity: 0;
      transition: all 0.8s ease-in 1s;


      &._active {
         transform: translate(0, 0);
         opacity: 1;
      }

      @media (max-width: 639.98px) {
         margin-top: 18px;
         margin-left: 74px;
         font-size: 13px;
         line-height: 135%;
      }
   }

   &__video {
      position: absolute;
      top: 0;
      right: 180px;

      transform: translate(200px, 0);
      opacity: 0;
      transition: all 0.8s ease-in;

      &._active {
         transform: translate(0, 0);
         opacity: 1;
      }

      @media (max-width: 639.98px) {
         top: 170px;
         right: unset;
         left: -18px;
      }

      &-bg {
         position: relative;
         width: 460px;
         height: 620px;
         overflow: hidden;

         @media (max-width: 639.98px) {
            width: 279px;
            height: 370px;
         }


         img {
            object-fit: contain;
            width: 100%;
            position: relative;
            z-index: 2;
         }

         video {
            position: absolute;
            width: 320px;
            height: 600px;
            object-fit: cover;
            top: 47px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            background-color: black;
            padding: 10px 10px 0 12px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;

            @media (max-width: 639.98px) {
               width: 192px;
               height: 354px;
               top: 28px;
               border-top-left-radius: 28px;
               border-top-right-radius: 28px;
               padding: 5px 5px 0 7px;
            }
         }
      }

      &-qr {
         position: absolute;
         width: 190px;
         height: 190px;
         background: #1F272C;
         box-shadow: 0px 100px 227px rgba(255, 255, 255, 0.05), 0px 46.233px 104.949px rgba(255, 255, 255, 0.0370838), 0px 9.67509px 21.9625px rgba(255, 255, 255, 0.0230026), 0px 5.38772px 12.2301px rgba(255, 255, 255, 0.018661), 0px 2.31722px 5.26009px rgba(255, 255, 255, 0.0129162);
         border-radius: 10px;
         top: 340px;
         left: 355px;
         z-index: 3;
         padding: 20px;

         @media (max-width: 639.98px) {
            width: 113px;
            height: 113px;
            padding: 11px;
            border-radius: 5px;
            top: 240px;
            left: 196px;
         }
      }
   }
}